body, button {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333333;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
    width: 150%;
}

.search {
    width: 250px;
    height: 100px;
    background: linear-gradient(to bottom, #3449eb, #e534eb);
    text-align: center;
    border-radius: 12px;
    border: none;
    color: white;
    font-size: 32px;
    box-shadow: 0 8px 0 #711974
}

.search:hover {
    background: linear-gradient(to bottom, #6271e7, #de60e2);
    box-shadow: 0 8px 0 #713474
}

input[type="text"] {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 30px;
    border-width: 4px;
    border-color:#eed462
}

img {
    width: 100%;
}

table, table th, table td {
    color: white;
    padding: 8px;
    border: 2px solid white;
}

table {
    position: relative;
    top: 32px;
}

.propertyId {
    color: #fff6a3;
    background: #333333;
    border: none;
    font-size: 16px;
    text-decoration: underline white;
}

.propertyId:hover {
    color: white;
    text-decoration: underline rgb(0, 225, 255);
}

.propertyType {
    color: #00ce78
}
